
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<p>AboutMe (Unordered List)</p>
<ul>
    <li>Collecting Different Pokemon cards</li>
    <li>Playing Trombone and practicing Guitar</li>
    <li>Creating music</li>
    <li>Participating in card tournaments</li>
    <li>Driving</li>
</ul>
